/*-- scss:defaults --*/
$link-color: black;

@media(max-width: 991.98px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction:column;
        row-gap: 1em;
        
        padding-bottom: 1.5em
    }
}