* {
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header {
   padding: 10px; 
  text-align: left;
  background: #f1f1f1;
  }

.topnav {
  overflow: hidden;
  background-color: #333;
}

a:link {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
  }

a:visited {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
}

  #portraitpic {
    border-radius: 50%;
  }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 82%;
}

.rightcolumn {
  float: right;
  width: 18%;
  background-color: #f1f1f1;
  text-align: left;  
}

.card {
  background-color: #f1f1f1;
  padding: 10px;
  }

.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 10px;
  text-align: left;
  background: #f1f1f1;
  margin-top: 20px;
  }



/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #ddd;
  color: #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 800px) {
  .rightcolumn, .leftcolumn {   
    width: 100%;
    padding: 0;
  }
}



@media screen and (max-width:800px) {
  img#portrait {
    display: none;
    width:100%;
  }
}

  @media screen and (max-width:800px) {
  img#logowwu {
    display: none;
    width:100%;
  }
}

@media screen and (max-width:800px) {
  img#iconrg {
    display: none;
    width:100%;
  }
}

@media screen and (max-width:800px) {
  img#iconorcid {
    display: none;
    width:100%;
  }
}

@media screen and (max-width:800px) {
  img#iconlinkedin {
    display: none;
    width:100%;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  padding: 15px; /* Some padding */
  font-size: 15px; /* Increase font size */
  background-color: #ddd;
}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}

mark { 
  background-color: #333;
  color: white;
}
