/*-- scss:defaults --*/
$link-color: white;
$body-bg: #242424;
$body-color: white;
$link-color: white;
$input-bg: white;
$toc-color: white;
$navbar-bg: #181818;
$navbar-fg: white;

$callout-color-note: white;
$callout-icon-scale: 20%;
$footer-bg: #242424;
$footer-fg: white;
$headings-color: white;
$figure-caption-color: white;
$cards-color: white;

@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction:row;
        column-gap: 1em;
        row-gap: 15px;
        flex-wrap: wrap
    }
}

@media(max-width: 991.98px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction:column;
        row-gap: 1em;
        padding-bottom: 1.5em
    }
}