/*-- scss:defaults --*/

$link-color: #242424;
$callout-color-note:  #6c757d;


/*-- scss:rules --*/


div.quarto-about-trestles .about-entity .about-links {
    display: flex;
    justify-content: center
}

@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction:row;
        column-gap: .8em;
        row-gap: 15px;
        flex-wrap: wrap
    }
}

@media(max-width: 991.98px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction:column;
        row-gap: 1em;
        width: 25%; 
        padding-bottom: .5em
    }
}

div.quarto-about-trestles .about-entity .about-link {
    color: #78838e;
    text-decoration: none;
    border:none; 
}

@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity .about-link {
        font-size: 0.8em;
        padding: .25em .5em;
        border-radius: 2px
    }
}

@media(max-width: 991.98px) {
    div.quarto-about-trestles .about-entity .about-link {
        font-size:0.8em;
        padding: .1em .1em;
        text-align: center;
        border-radius: 1px
    }
}

div.quarto-about-trestles .about-entity .about-link:hover {
    color: #242424
}

div.quarto-about-trestles .about-entity .about-link i.bi {
    margin-right: .15em
}


