/*-- scss:defaults --*/
$link-color: white;
$body-bg: #242424;
$body-color: white;
$link-color: white;
$input-bg: white;
$toc-color: white;
$navbar-bg: #181818;
$navbar-fg: white;

$callout-color-note: white;
$callout-icon-scale: 20%;
$footer-bg: #242424;
$footer-fg: white;
$headings-color: white;
$figure-caption-color: white;
$cards-color: white;

/*-- scss:rules --*/


div.quarto-about-trestles .about-entity .about-links {
    display: flex;
    justify-content: center
}

@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction:row;
        column-gap: .8em;
        row-gap: 15px;
        flex-wrap: wrap
    }
}

@media(max-width: 991.98px) {
    div.quarto-about-trestles .about-entity .about-links {
        flex-direction:row;
        row-gap: 1em;
        width: 95%; 
        padding-bottom: .5em
    }
}

div.quarto-about-trestles .about-entity .about-link {
    color: #78838e;
    text-decoration: none;
    border:none; 
}

@media(min-width: 992px) {
    div.quarto-about-trestles .about-entity .about-link {
        font-size: 0.8em;
        padding: .25em .5em;
        border-radius: 2px
    }
}

@media(max-width: 991.98px) {
    div.quarto-about-trestles .about-entity .about-link {
        font-size:0.8em;
        padding: 0.8em 0.8em;
        text-align: center;
        border-radius: 2px
    }
}

div.quarto-about-trestles .about-entity .about-link:hover {
    color: #242424
}

div.quarto-about-trestles .about-entity .about-link i.bi {
    margin-right: .15em
}


