/*-- scss:defaults --*/
$link-color: #242424;
$callout-color-note:  #6c757d;

/*-- scss:rules --*/

.quarto-about-trestles .about-entity .about-links {
    display: flex;
    justify-content: center
}

@media(min-width: 992px) {
    .quarto-about-trestles .about-entity .about-links {
        flex-direction:row;
        column-gap: 1em;
        row-gap: 15px;
        flex-wrap: wrap
    }
}

@media(max-width: 991.98px) {
    .quarto-about-trestles .about-entity .about-links {
        flex-direction:column;
        row-gap: 1em;
        padding-bottom: 1.5em
    }
}

.quarto-about-trestles .about-entity .about-link {
    color: #78838e;
    text-decoration: none;
    
}

@media(min-width: 992px) {
    .quarto-about-trestles .about-entity .about-link {
        font-size: 1em;
        padding: .25em .5em;
        border-radius: 4px
    }
}

@media(max-width: 991.98px) {
    .quarto-about-trestles .about-entity .about-link {
        font-size:1.1em;
        padding: .5em .5em;
        text-align: center;
        border-radius: 6px
    }
}
