/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: white;
$header-color: #181818;
$navbar-bg: #181818;
$navbar-fg: white;
$toc-color: white;
$toc-active-border: white;
$toc-inactive-border: white;
$footer-fg: white;
$headings-color: white;
$figure-caption-color: white;
$callout-icon-scale: 60%;


// Code blocks
$code-block-bg-alpha: -.8;