/*-- scss:defaults --*/
$link-color: #242424;
$callout-color-note:  #6c757d;

/*-- scss:rules --*/

div.quarto-about-trestles .about-entity .about-link {
    color: #78838e;
    text-decoration: none;
    /* border: solid 1px; */
}
